body {
  font-family: 'Roboto';
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#loader button {
  font-size: 24px;
  padding: 20px 30px;
  background-color: #00BC74;
  color: #FFF;
  border: none;
  font-family: 'Roboto';
  transition: 0.3s ease-in-out;
  -webkit-filter: blur(0);
}

#loader button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
